
@{
    ViewBag.Title = "Medicine";
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.30">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    function ajaxSearchUpdate() {
        var serviceURL = '@Url.Action("SpecialistNearby","Patient")';

        $.ajax({
            type: "POST",
            url: serviceURL,
            data: { @Model.SpecialistNearby },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function successFunc() {
                $("#result").show();
                $("#error").hide();
            },
            error: function errorFunc() {
                $("#result").hide();
                $("#error").show();
            }
        });
    }

    $(document).ready(function (e) {
        ajaxSearchUpdate();                    // fires on document.ready
        $("#search").keypress(function () {
            ajaxSearchUpdate();                // your function call
        }
    })
</script>

<style>
    body {
        background-color: rgb(79,190,197);
    }

    /* Body styling */
    /* Frame styling */
    .jumbotron {
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        background-color: white;
    }


    /* Styling for Back Button */
    .backButton {
        text-align: right;
        text-decoration: none !important;
        color: inherit !important;
        border-radius: 100px;
        font-size: 75px;
        position: static;
        /*margin: 10px;*/
        /*padding: 12px 0;*/
    }

        .backButton:hover {
            background-color: white;
            text-decoration: none !important;
            color: #18a1e5 !important;
        }

    .input {
        flex: 1;
    }
</style>

@model FYP.Entities.ViewModel.PatientBaseViewModel

<div class="jumbotron">
    <div class="row">
        <div><h2 style="text-align:center">-- <b>Medicine Directory</b> --</h2></div>
    </div>

    <br />

    <div class="row">
        <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3"><p>Medicine Name : </p></div>
        <div class="col-5 col-xs-5 col-sm-5 col-md-5 col-lg-5 input"><p>@Html.TextBoxFor(m => m.MedicineViewModel.SearchText)</p></div>
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3"><p2>@Html.ValidationMessageFor(m => m.MedicineViewModel.SearchText)</p2></div>
    </div>

</div>




