
@{
    ViewBag.Title = "Created Successfully";
}

<meta name="viewport" content="width=device-width, initial-scale=0.5">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    function home() {
        location.href = "Index";
    }
</script>

<style>
    /* Frame styling */
    body {
        background-color: aqua;
    }

    .jumbotron {
        background-color: white;
    }

    /* Middle Header */
    .header {
        text-align: center;
    }

    button{
        font-size:large;
    }
</style>


<html>
<body>
    <div class="jumbotron">
        <div class="header">
            <h2>Congratulation! Account created succesfully !</h2>
        </div>
        <br />
        <div class="header">
            <button class="btn btn-success" onclick="home()">Return To Home Page</button>
        </div>
    </div>
</body>
</html>
