
@{
    ViewBag.Title = "CompanyRejected";
}

<meta name="viewport" content="width=device-width, initial-scale=0.5">

<style>
    /* Frame styling */
    body {
        background-color: aqua;
    }

    .jumbotron {
        background-color: white;
    }

    /* Middle Header */
    .header {
        text-align: center;
    }

    button {
        font-size: large;
    }
</style>


<html>
<body>
    <div class="jumbotron">
        <div class="header">
            <h2>The company registration has been rejected ! A notification email will be sent to the company email.</h2>
        </div>
    </div>
</body>
</html>

