
@{
    ViewBag.Title = "Practitioner Approved";
}

<meta name="viewport" content="width=device-width, initial-scale=0.5">

<style>
    /* Frame styling */
    body {
        background-color: aqua;
    }

    .jumbotron {
        background-color: white;
    }

    /* Middle Header */
    .header {
        text-align: center;
    }

    button {
        font-size: large;
    }
</style>


<html>
<body>
    <div class="jumbotron">
        <div class="header">
            <h2>Congratulation! Account approved succesfully ! A notification email will sent to the employee's email.</h2>
            <br />
            <h2>Thank you and have a nice day.</h2>
        </div>
    </div>
</body>
</html>

