<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Database Connection String -->
  <connectionStrings>
    <add name="FYP" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FYP;User ID=admin;Password=admin123" providerName="System.Data.SqlClient" />
    <add name="Elmah" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Elmah;User ID=admin;Password=admin123" providerName="System.Data.SqlClient" />
    <!--<add name="DbConnectionString" connectionString="Server=(localdb)\MSSQLLocalDB;Database=FYP;User Id=admin; Password=admin123;" />-->
    <!--<add name="elmah-express" connectionString="Server=KWAPSP2013;Database=ElmahLog;User Id=sa; Password=Agtiv123;" />-->
  </connectionStrings>
</configuration>